NET "in1" LOC = B4;
NET "in3" LOC = K3;
NET "in6" LOC = L3;
NET "in8" LOC = P11;
NET "out1" LOC = A7;
NET "out3" LOC = M4;
NET "out6" LOC = C11;
NET "out8" LOC = G12;
NET "floor1" LOC =P6;
NET "floor3" LOC =P7;
NET "floor6" LOC =M11;
NET "floor8" LOC =M5;
NET "clk" LOC =B8;
NET "power_on" LOC =N3;
NET "LEDdisplay[0]" LOC =L14;
NET "LEDdisplay[1]" LOC =H12;
NET "LEDdisplay[2]" LOC =N14;
NET "LEDdisplay[3]" LOC =N11;
NET "LEDdisplay[4]" LOC =P12;
NET "LEDdisplay[5]" LOC =L13;
NET "LEDdisplay[6]" LOC =M12;
NET "state" LOC =P4;
NET "opendoor" LOC =N5;
NET "door_open" LOC =F3;
NET "door_close" LOC =G3;
NET "light" LOC = N4;
NET "direct" LOC = G1;